@mixin slideToLeftAnimation {
  @keyframes slideToLeft {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }

  animation: slideToLeft 0.25s ease-out;
}
