@import "./variables";

@mixin devices($breakpoint) {
  @if $breakpoint == xl {
    @media (min-width: 1441px) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media (max-width: 1440px) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media (max-width: 900px) {
      @content;
    }
  }

  @if $breakpoint == sm {
    @media (max-width: 650px) {
      @content;
    }
  }

  @if $breakpoint == xs {
    @media (max-width: 520px) {
      @content;
    }
  }

  @if $breakpoint == phone {
    @media (max-width: 385px) {
      @content;
    }
  }
}

@mixin button-default {
  padding: 0.9rem 1.5rem 0.6rem;
  min-width: 125px;
  color: inherit;
  font-size: clamp(12px, 4.5vw, 18px);
  border: 0.1em solid $color-secondary;
  border-radius: 999px;
  background: none;
  transition: $transition;

  &:hover {
    background-color: rgba($background-important_light, 0.85);

    .marked::after {
      width: 100%;
    }
  }

  .marked::after {
    background-color: $color-important_dark;
  }

  @include devices(phone) {
    padding: 0.5rem 0.75rem 0.4rem;
    min-width: 100px;
  }
}

@mixin button-primary {
  padding: 0.9rem 1.5rem 0.6rem;
  min-width: 125px;
  color: $color-important_light;
  font-size: clamp(12px, 4.5vw, 18px);
  border: 0.1em solid rgba($color-primary_light, 0.55);
  border-radius: 999px;
  background-color: rgba($color-primary_light, 0.55);
  transition: $transition;

  &:hover {
    background-color: rgba($color-primary_light, 0.85);

    .marked::after {
      width: 100%;
    }
  }

  @include devices(phone) {
    padding: 0.5rem 0.75rem 0.4rem;
    min-width: 100px;
  }
}

@mixin button-secondary {
  padding: 1rem 1.5rem;
  width: fit-content;
  color: var(--color-primary);
  font-size: 18px;
  border: 0;
  border-radius: 0.35rem;
  background-color: var(--color-important);
  transition: $transition;

  &:hover {
    background-color: rgba(var(--color-important), 0.85);
  }
}
