@import "./variables";

@mixin devices($breakpoint) {
  @if $breakpoint == xl {
    @media (min-width: 1441px) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media (max-width: 1440px) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media (max-width: 900px) {
      @content;
    }
  }

  @if $breakpoint == sm {
    @media (max-width: 650px) {
      @content;
    }
  }

  @if $breakpoint == xs {
    @media (max-width: 520px) {
      @content;
    }
  }

  @if $breakpoint == phone {
    @media (max-width: 385px) {
      @content;
    }
  }
}

@mixin button-primary($color, $border, $bg-hover) {
  padding: 0.9rem 1.5rem 0.6rem;
  min-width: 125px;
  color: $color;
  font-size: clamp(12px, 4.5vw, 18px);
  border: 0.1em solid $border;
  border-radius: 999px;
  background: none;
  transition: $transition;

  &:hover {
    background-color: rgba($bg-hover, 0.85);

    .marked::after {
      width: 100%;
    }
  }

  @include devices(phone) {
    padding: 0.5rem 0.75rem 0.4rem;
    min-width: 100px;
  }
}

@mixin simple-button($bg: none) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 1.5rem;
  color: inherit;
  font-size: clamp(12px, 4.5vw, 18px);
  border: 0.1em solid rgba($color-secondary, 0.5);
  border-radius: 0.35rem;
  background: $bg;
  transition: $transition;

  &:hover {
    border: 0.1em solid $color-secondary;
  }
}
