/*** Website variables ***/

/* COLORS */
$color-primary: #007782;
$color-secondary: #999999;
$color-important: #171717;

$background-color-primary: #e7e7e7;
$background-color-important: #28292b;

/* TRANSITION */
$transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
