@import "../../../sass/";

.image-card-component {
  position: relative;
  max-width: 685px;
  border-radius: 0.35rem;
  aspect-ratio: 3/2;
  overflow: hidden;
  background-color: var(--background-important);
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px var(--background-shadow);

  &:hover {
    .image-card-component__details {
      opacity: 1;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    transform: scale(1);
    transition: $transition;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    color: $color-primary_light;
    font-size: clamp(16px, 5vw, 21px);
    text-align: center;
    text-transform: capitalize;
    background-color: rgba($background-important_light, 0.55);
    opacity: 0;
    transition: $transition;

    &--title {
      display: block;
      width: calc(100% - 2rem);
      margin: 0;
      padding: 0 1rem;
      font-weight: 900;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &::after {
        display: block;
        content: "";
        margin: 10px auto;
        height: 2px;
        width: 120px;
        background-color: $color-primary_light;
      }
    }

    &--author {
      display: block;
      width: calc(100% - 2rem);
      margin: 0;
      padding: 0 1rem;
      font-style: italic;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--actions {
      display: flex;
      gap: 1rem;
      position: absolute;
      bottom: 1.25rem;

      @include devices(phone) {
        bottom: 0.75rem;
      }

      &__like {
        @include button-primary(
          inherit,
          $color-secondary,
          $background-important_light
        );
        .marked::after {
          background-color: $color-important_dark;
        }
      }

      &__more {
        @include button-primary(
          $color-important_light,
          rgba($color-primary_light, 0.55),
          $color-primary_light
        );
        background-color: rgba($color-primary_light, 0.55);
      }
    }
  }

  &__isLikes {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.6rem;
    border: 0;
    border-radius: 0.75rem;
    background-color: var(--color-primary);

    img {
      display: block;
      width: 20px;
      height: 20px;
    }
  }
}

.blur-loader.loaded {
  img {
    opacity: 1;
  }
}

.blur-loader {
  img {
    opacity: 0;
    transition: $transition;
  }
}
