@import "../../../../sass/";

.photo-modal {
  position: fixed;
  display: none;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fff;
  top: 20px;
  left: 150px;
  right: 150px;
  border-radius: 0.35rem;
  z-index: 30;

  @include devices(md) {
    left: 64px;
    right: 64px;
  }

  @include devices(sm) {
    top: 3.5rem;
    left: 0;
    right: 0;
    border-radius: 0;
  }

  &__wrapper {
    position: relative;
    padding: 30px;

    @include devices(md) {
      padding: 15px;
    }

    &--close {
      position: absolute;
      left: -4rem;
      top: 1rem;
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      outline: inherit;

      @include devices(md) {
        top: 1rem;
        left: -3rem;
      }

      @include devices(sm) {
        top: -2.8rem;
        left: 0.5rem;
      }

      img {
        display: block;
        width: 32px;
        height: 32px;
      }
    }
  }
}

.photo-modal--open {
  display: flex;
}
