@import "../../../sass/";

.liked-photo-section-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  @include devices(lg) {
    margin-bottom: 20px;
  }

  @include devices(md) {
    margin-bottom: 15px;
  }

  &__title {
    font-size: clamp(21px, 5vw, 28px);
  }

  &__action {
    display: flex;
    @include remove-button-style();

    &:hover {
      img {
        @include slideToLeftAnimation;
      }
    }

    img {
      display: block;
      width: 26px;
      height: 26px;
    }
  }
}

.liked-photo-section-grid {
  @include grid-layout;
}

.liked-photo-section-no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}
