@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap");
@import "./sass/";

$body-color: red;

body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: $body-color;
  font-size: 18px;
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0px 10px;
  font-weight: 700;
  line-height: 1.1;
}
