@import "../../../sass/";

.main-content {
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  background-color: dodgerblue;
  border-radius: 0.35rem;
  aspect-ratio: 3/2;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
